.env
dotenv
env
.dotenv
config.json
versions.log
*.pyc
*.cpython
__pycache__
*/raw_data/*
app.log
*.terraform*
*.tfstate
config.dev.json
config.feature.json
config.prod.json
test_health.py
health
# Ignore all .log files in the logs/ directory
backend/src/utils/logging/logs/*

# Ignore all .jsonl log files in the logs/ directory
backend/src/utils/logging/logs/*.log.jsonl

# Do not ignore other files in logs/
!backend/src/utils/logging/logs/.gitkeep