.env
dotenv
env
.dotenv
config.json
versions.log
*.pyc
*.cpython
__pycache__
*/raw_data/*
app.log
*.terraform*
*.tfstate
config.dev.json
config.feature.json
config.prod.json
test_health.py
health
.vscode
test.ipynb
backend/src/utils/logging/logs/*
!backend/src/utils/logging/logs/.gitkeep
.env/*
.env.*
.env
.env.development