.disabled-btn {
    background-color: #f8fafc ;
    color: #1e293b;
    cursor: not-allowed;
}

.btn {
    padding: .75rem 2rem;
    border-radius: .25rem;
}

.btn-ghost {
    /* border: 1px solid var(--stone-200); */
    color: var(--stone-500);
    fill: var(--stone-500);
}

.btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.add-btn {
    color: #fff;
    background-color: rgb(129 140 248);
}

.grid-two-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.text-start {
    text-align: start;
}

.btn-small {
    padding: .5rem 1rem;
    border-radius: .25rem;
   
}

.btn-tiny {
    /* depends on text being smaller */
    padding: .5rem 8px;
    border-radius: .25rem;
}

.btn.btn-submit {
    background-color: var(--indigo-50);
    color: var(--indigo-500);
    border: 1px solid var(--indigo-400);
    transition: var(--transition-short);
}

.btn.btn-wide {
    width: 100%;
}

.btn.btn-submit:hover {
    background-color: var(--indigo-100);
}

.btn.btn-red {
    background-color: var(--red-200);
    color: var(--red-500);
    transition: var(--transition-short);
}

.btn.btn-toolbar {
    background-color: var(--surface-primary);
    border-width: 0;
    border-bottom: 2px solid var(--stone-200);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: var(--stone-500);
    
    &.active {
        border-color: var(--indigo-500);
        background-color: var(--indigo-50);
        color: var(--indigo-600);
    }
}

.btn-green {
    background-color: var(--green-100);
    color: var(--stone-700);
}

.btn.disabled {
    border: 1px solid var(--stone-300);
    color: var(--stone-500);
    transition: var(--transition-short);
    background-color: var(--surface-primary);
    cursor: not-allowed;
}

.btn.disabled:hover {
    background-color: var(--surface-primary);
}


.btn.btn-red:hover {
    background-color: var(--red-300);
}

.btn.btn-ghost {
    border: 1px solid var(--stone-300);
    color: var(--stone-500);
    transition: var(--transition-short);
}

.btn.btn-ghost:hover {
    background-color: var(--stone-200);
    color: var(--stone-600);
}

.btn.icon-btn, .btn-small.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-red-ghost {
    color: var(--red-500);
    background-color: var(--surface-primary);
}

.btn-red-ghost:hover {
    background-color: var(--red-100);
}

.btn-remove.icon {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--red-500);
    background-color: var(--surface-primary);
}

.btn.small {
    font-size: var(--font-sm);
}

.post-btn {
    max-width: 880px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: calc(2 * var(--margin-md));
    padding: var(--padding-sm);
    border-radius: var(--radius-sm);
    color: var(--surface-primary);
    background-color: var(--indigo-500);
}

.post-btn[disabled] {
    color: var(--stone-600);
    background-color: var(--stone-200);
    font-family: var(--fancy-script);
    font-size: var(--font-xl)
}

.btn-add-friend {
    background-color: var(--green-500);
    color: var(--surface-primary);
}