.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.content-end {
    align-content: end;
}

.items-end {
    align-items: end;
}

.self-start {
    align-self: start;
}