  /*
  ------------------------------------------- 
   Styles for forms, flyouts, and inputs
  ------------------------------------------- 
  */


  /* default flyout styling in forms? */

  .btn-relative {
    position: relative !important;
  }
  
  .popout-flyout {
    position: absolute;
    top: 40px;
    left: 0;
    margin-top: .25rem;
    width: 250px;
    background-color: #fff;
    border-radius: .25rem;
    overflow: clip;
  }
  
  .popout-right {
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: .25rem;
    width: 200px;
    background-color: #fff;
    border-radius: .25rem;
    overflow: clip;
  }

  .popout-flyout button {
    display: block;
    color: #4338ca;
    width: 100%;
    text-align: start;
    padding: 0.2rem 1rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
  }
  
  .popout-flyout button:hover {
    background-color: #eef2ff;
  }

  /* -------------------------------------------  */

  /* default radio group styling */

  .radio-group {
    display: flex;
    flex-direction: row;
    border:  2px solid #818cf8;
    border-radius: .5rem; 
    width: fit-content;
    overflow: clip;
  }
  
  .radio-select {
    padding: .5ch 1ch;
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    color: #52525b;
  }
  
  
  .radio-select input {
    margin-right: 1ch;
    accent-color: #818cf8;
  }
  
  .radio-select input:checked {
    accent-color: #3730a3;
  }
  
  .radio-select:has(input:checked) {
    background: #e0e7ff;
    color: #1e1b4b;
  }

  /* -------------------------------------------  */

  /* questions for posts */

  .question-topic {
    font-size: 18px;
    font-weight: semibold;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: .75rem 1rem;
    width: 100%;
    border: solid 2px #e2e8f0;
    color: #1e293b;
    background: #f8fafc;
    border-radius: 4px;
    transition: all 150ms ease-in-out;
  }

  .question-border {
    border: dotted 2px rgb(229 231 235);
    transition-duration: 250ms;
  }
  
  .question-border:hover {
    transform: scale(1.02);
    transition-duration: 250ms;
    border-color: rgb(129 140 248);
  }
  
  /* -------------------------------------------  */
  

  /* comments for posts */

  .send-comment-btn {
    padding: 12px;
    border-radius: 50px;
    color: #eef2ff;
    background-color: #818cf8;
    display: grid;
    height: min-content;
    align-self: center;
}


.make-comments-container {
    display: flex;
    column-gap: 20px;
    padding: 20px;
    padding-left: 0;
    width: 100%;
    max-width: 880px;
}

.make-comments-container.main {
  max-width: 100vw;
  justify-content: center;
}

.make-comment-textarea {
    display: grid;
    align-self: start;
    width: 70%;
    height: 50px;
    resize: none;
    line-height: 2.5em; 
    text-align: left;
    background-color: #eef2ff;
    border: solid 1px #eef2ff;
    border-radius: 30px;
    padding-left: 15px;
    transition-timing-function: ease;
    transition-duration: 250ms;
}

.make-comment-textarea:hover {
    border-color: #6366f1;
}


.comments-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
}

.comment {
  padding: 14px 2.25rem;
  border-radius: 8px;
  border: solid 1px #c4b5fd;
  transition-duration: 250ms;
  transition-timing-function: ease;
  max-width: 880px;
  width: 100%;
  justify-self: center;
}

.comment.liked {
  color: #4f46e5;
  border-color: #4f46e5;
  background-color: #f8fafc;
}

.comment-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}

.comment.is-replying {
  padding-bottom: 0;
}

.make-comments-container:has(.comment) {
  justify-content: space-between;
  padding-left: 0;
}

.comment.reply {
  border-color: rgb(238 242 255);
  width: 90%;
  justify-self: center;
}

.comment:hover {
  border-color: #c7d2fe;
}

.comment-footer {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: .5em;
}