  /*
  ------------------------------------------- 
   Styles for forms, flyouts, and inputs
  ------------------------------------------- 
  */


  /* default flyout styling in forms? */

  .btn-relative {
    position: relative !important;
  }
  
  .popout-flyout {
    position: absolute;
    top: 40px;
    left: 10px;
    margin-top: .25rem;
    width: 250px;
    background-color: #fff;
    border-radius: .25rem;
    overflow: clip;
  }
  
  .popout-right {
    position: absolute;
    top: 40px;
    right: 0;
    margin-top: .25rem;
    width: 200px;
    background-color: #fff;
    border-radius: .25rem;
    overflow: clip;
  }

  .popout-comment {
    position: absolute;
    top: 20px;
    left: 40px;
    margin-top: .25rem;
    width: 130px;
    background-color: #fff;
    border-radius: .25rem;
    overflow: clip;
    z-index: 9999;
  }

  .popout-comment button {
    display: flex;
    color: #4338ca;
    width: 100%;
    text-align: start;
    padding: 0.2rem 1rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
  }

  .popout-comment button:hover {
    background-color: #eef2ff;
  }

  .popout-flyout button {
    display: block;
    color: #4338ca;
    width: 100%;
    text-align: start;
    padding: 0.2rem 1rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
  }
  
  .popout-flyout button:hover {
    background-color: #eef2ff;
  }

  /* -------------------------------------------  */

  /* default radio group styling */

  .radio-group {
    display: flex;
    flex-direction: row;
    border:  2px solid #818cf8;
    border-radius: .5rem; 
    width: fit-content;
    overflow: clip;
  }
  
  .radio-select {
    padding: .5ch 1ch;
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    color: #52525b;
  }
  
  
  .radio-select input {
    margin-right: 1ch;
    accent-color: #818cf8;
  }
  
  .radio-select input:checked {
    accent-color: #3730a3;
  }
  
  .radio-select:has(input:checked) {
    background: #e0e7ff;
    color: #1e1b4b;
  }

  /* -------------------------------------------  */

  /* questions for posts */

  .question-topic {
    font-size: 18px;
    font-weight: semibold;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: .75rem 1rem;
    width: 100%;
    border: solid 2px #e2e8f0;
    color: #1e293b;
    background: #f8fafc;
    border-radius: 4px;
    transition: all 150ms ease-in-out;
  }

  .question-border {
    border: dotted 2px rgb(229 231 235);
    transition-duration: 250ms;
  }
  
  .question-border:hover {
    transform: scale(1.02);
    transition-duration: 250ms;
    border-color: rgb(129 140 248);
  }
  
  /* -------------------------------------------  */
  

  /* comments for posts */

  .send-comment-btn {
    padding: 12px;
    border-radius: 50px;
    color: #eef2ff;
    background-color: #818cf8;
    display: grid;
    height: min-content;
    align-self: end;
    margin-bottom: 6px;
    transition: 250ms ease;
}

.send-comment-btn:hover {
  background-color: #7c3aed;
  transform: scale(1.02);
}

.send-comment-btn:active {
  background-color: #4338ca;
  transform: scale(.98);
}

.make-comments-container {
    display: flex;
    column-gap: 20px;
    padding: 20px;
    padding-left: 0;
    width: 100%;
    max-width: 880px;
}

.make-comments-container.main {
  max-width: 100vw;
  justify-content: center;
}

.make-comments-container label {
  width: 70%;
}

.make-comments-container .label-text::first-letter {
  font-size: 1.1rem;
}

.make-comments-container .label-text {
  padding-bottom: 8px;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #64748b;
}

.make-comment-textarea {
    display: grid;
    align-self: start;
    width: 100%;
    min-width: 280px;
    height: 50px;
    resize: none;
    line-height: 2.5em; 
    text-align: left;
    background-color: #eef2ff;
    border: solid 1px #eef2ff;
    border-radius: 30px;
    padding-left: 15px;
    transition-timing-function: ease;
    transition-duration: 250ms;
}

.make-comment-textarea:hover {
    border-color: #6366f1;
}

ul:has(.comments-wrapper) {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}


.comments-wrapper  {
  padding-left: 10px;
  border-left: 2px solid #f8fafc;
  height: 90%;
  display: grid;
}

.comment {
  padding: 14px 2.25rem;
  border-radius: 8px;
  border: solid 1px #c4b5fd;
  transition-duration: 250ms;
  transition-timing-function: ease;
  width: 100%;
  max-width: 880px;
  justify-self: center;
}

.comment.liked, .comment.reply.op.liked {
  color: #4f46e5;
  border-color: #4f46e5;
  background-color: #f8fafc;
}

/*  Time for some animations? */
.comment.pinned {
  position: relative;
  border-color: #4f46e5;
  background-color: #f4f7ff;
  color: #4f46e5;
  box-shadow: rgba(67,56,202, 0.26) 0px 1px 4px, rgb(238,242,255) 0px 0px 0px 3px;;
}

.pinned-comment-btn {
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: rgba(255, 255, 255, .78);
  border: 1px solid #4f46e5;
  border-radius: 50%;
  padding: 6px;
  transition: 250ms ease;
}

.pinned-comment-btn:hover {
  transform: scale(1.02);
}

.pinned-comment-btn:active {
  transform: scale(.98);
}

.comment-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
}

.comment-text {
  max-width: 500px;
}

.comment.is-replying {
  padding-bottom: 0;
}

.make-comments-container:has(.comment) {
  justify-content: space-between;
  padding-left: 0;
}

.comment.reply {
  border-color: rgb(238 242 255);
  transform: scaleX(95%);
  margin-right: -20px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.comment.reply.op {
  border-color: rgb(211, 219, 244);
}

.comment:hover, .comment.reply.op:hover {
  border-color: #c7d2fe;
}

.comment-footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end;
  margin-top: .5em;
}
