  /* 
------------------------------------------- 
    Utility classes for various spacing that
    tailwind seems to fail to do.
------------------------------------------- 
*/
  
  .w-100 {
    width: 100%;
  }
  
  .w-90 {
    width: 90%;
  }
  
  .w-80 {
    width: 90%;
  }
  
  .w-70 {
    width: 70%;
  }
  
  .w-60 {
    width: 60%;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .w-33 {
    width: 33%;
  }
  
  .w-25 {
    width: 25%;
  }
  
  .w-10 {
    width: 10%;
  }

  .mobile-menu-spacer {
    height: 7rem;
    width: auto;
  }

  .my-15 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .mt-15 {
    margin-top: 3rem;
  }

  .ml-6 {
    margin-left: 22px;
  }

  .nowrap {
    white-space: nowrap;
  }

  .post-section-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
  }

  .create-post-heading-text {
    color: var(--slate-600);
    font-size: var(--font-2xl);
    font-weight: 500;  
    margin-bottom: var(--margin-md);
}

  .create-post-heading-book-title {
    color: var(--indigo-500);    
    font-weight: 600;
    font-style: italic;
  }

  .one-80-deg {
    transform: rotate(180deg);
  }