  /* 
------------------------------------------- 
    Utility classes for various spacing that
    tailwind seems to fail to do.
------------------------------------------- 
*/
  
  .w-100 {
    width: 100%;
  }
  
  .w-90 {
    width: 90%;
  }
  
  .w-80 {
    width: 90%;
  }
  
  .w-70 {
    width: 70%;
  }
  
  .w-60 {
    width: 60%;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .w-33 {
    width: 33%;
  }
  
  .w-25 {
    width: 25%;
  }
  
  .w-10 {
    width: 10%;
  }

  .mobile-menu-spacer {
    height: 7rem;
    width: auto;
  }

  .my-15 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .mt-15 {
    margin-top: 3rem;
  }

  .ml-6 {
    margin-left: 22px;
  }

  .mr-auto {
    margin-right: auto;
  }

  .mb-0 {
    margin-bottom: 0 !important;
  }

  .mt-0 {
    margin-top: 0 !important;
  }

  .ml-0 {
    margin-left: 0 !important;
  }

  .mr-0 {
    margin-right: 0 !important;
  }
  
  .pb-0 {
    padding-bottom: 0 !important;
  }

  .pt-0 {
    padding-top: 0 !important;
  }

  .pl-0 {
    padding-left: 0 !important;
  }

  .pr-0 {
    padding-right: 0 !important;
  }
  
  .nowrap {
    white-space: nowrap;
  }

  .post-section-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
  }

  .create-post-heading-text {
    color: var(--stone-600);
    font-size: var(--font-2xl);
    font-family: var(--fancy-script);  
  }

  .create-post-heading-book-title {
    color: var(--indigo-500);    
    font-weight: 600;
    font-style: italic;
  }

  .one-80-deg {
    transform: rotate(180deg);
  }

  .ninety-deg {
    transform: rotate(90deg);
  }

  /* 
    Used in conjunction with :class to conditionally hide or show things in the ui that 
    also have aria-busy so we can be more accessible. 
  */
  .indicator-finished-loading {
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
  }

  .text-stone-600 {
    color: var(--stone-600);
  }

  .m-tb-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  .hidden {
    display: none !important;
    visibility: hidden !important;
    transition: var(--transition-short);
  }

  .b-light {
    border: 1px solid var(--stone-100);
  }

  .text-stone-500 {
    color: var(--stone-500)
  }

  .weight-300 {
    font-weight: 300;
  }

  @media screen and (max-width: 768px) {
    .hidden-on-mobile {
      visibility: hidden;
      display: none;
    }
  }

  .br-input-normal {
    border-radius: 4px;
  }