@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-pills {
  gap: 1ch;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12ch, 1fr));
  justify-items: center;
  align-items: center;
}

.grid-pills > * {
  line-height: 2ch;
}

.icon-star {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='12' fill='currentColor' viewBox='0 96 960 960' width='48'%3E%3Cpath d='m323 851 157-94 157 95-42-178 138-120-182-16-71-168-71 167-182 16 138 120-42 178Zm-90 125 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-355Z' /%3E%3C/svg%3E");
}