/* Forms on the settings page */

/* Layouts Layouts Layouts Layouts */

.settings-section {
    max-width: 880px;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 880px;
}

.user-profile-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}
.user-profile-subheader {
    display: grid;
    justify-content: center;
}

.edit-profile-picture {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edit-profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: solid 1px #fff;
    /* box-shadow: rgba(124,58,237, .24) 0px 0px 0px 2px, rgba(76,29,149, .68) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;; */
    box-shadow: rgba(124,58,237, .6) 0px 0px 0px 4px;
    transition: all 250ms ease;
}

.edit-profile-picture img:hover {
    /* box-shadow: rgba(124,58,237, .24) 0px 0px 0px 2px, rgba(76,29,149, .68) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;; */
    box-shadow: rgba(124,58,237, .8) 0px 0px 0px 4px;
}

/* For pencil button on user profile image */
.edit-profile-picture .e-p-p-btn {
    position: absolute;
    bottom: 2px;
    right: -20px;
    color: #4f46e5;
    padding: 2px;
    border-radius: 25%;
    border: 1px solid #4f46e5; 
}

.settings-info-form-container {
    display: grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 20px;
    align-items: end;
}

.settings-info-form.loading {
    background-color: #e4e4e7;
    filter: blur(2px);
}

.settings-info-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    max-width: 600px;
    margin-top: 8px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fafafa;
    min-height: 289px;
}

.settings-info-form-input {
    min-height: 32px;
    padding: 8px 12px;
    width: 100%;
    border-radius: 6px;
}

.settings-info-form-input[disabled] {
    background-color: #fff;
    cursor: not-allowed;
}


.user-profile-subheader-nav {
    display: grid;
    grid-template-columns: .5fr .5fr;
    width: 100%;
    column-gap: 20px;
    white-space: nowrap;
    justify-content: center;
    margin-top: 25px;
}

/* Buttons Buttons Buttons Buttons */

.user-profile-subheader-nav button {
    font-size: 16px;
    color: #334155;
    padding-bottom: 8px;
    width: 150px;
    border-bottom: 3px solid #f3f4f6;
    transition: all 250ms ease; 
}

.user-profile-subheader-nav button:hover {
    color: #1e293b;
    border-color: #94a3b8;
}

.add-friend-btn {
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-self: center;
    color: #fff;
    background-color: #4f46e5;
    transition: all 250ms ease; 
}
.add-friend-btn:hover {
    background-color: #3730a3;
}

.edit-btn {
    display: flex;
    column-gap: 6px;
    color: #1e293b;
    text-decoration: underline;
    justify-self: end;
    padding: 6px;
    border-radius: 6px;
}

.edit-btn:hover {
    background-color: #f3f4f6;
}

.edit-btn svg {
    transform: scale(.9);
}

.mutuals-btn {
    display: flex;
    align-items: center;
    justify-self: center;
    color: #4f46e5;
    text-decoration: underline;
    transition: all 250ms ease-in;
}

.mutuals-btn:hover {
    transform: scale(1.05);
}