:root {
    --text-purple--base: #5A67D8;
  }

.text-slate-800 {
  color: var(--slate-800);
}

.text-slate-600 {
  color: var(--slate-600);
}

.text-stone-700 {
  color: var(--stone-700);
}

/* Apply classes using CSS variables */
.t-xs {
  font-size: var(--font-xs);
  line-height: var(--line-xs);
}

.t-sm {
  font-size: var(--font-sm);
  line-height: var(--line-sm);
}

.t-base {
  font-size: var(--font-base);
  line-height: var(--line-base);
}

.t-lg {
  font-size: var(--font-lg);
  line-height: var(--line-lg);
}

.t-xl {
  font-size: var(--font-xl);
  line-height: var(--line-xl);
}

.t-2xl {
  font-size: var(--font-2xl);
  line-height: var(--line-2xl);
}

.t-3xl {
  font-size: var(--font-3xl);
  line-height: var(--line-3xl);
}

.t-4xl {
  font-size: var(--font-4xl);
  line-height: var(--line-4xl);
}

.t-5xl {
  font-size: var(--font-5xl);
  line-height: var(--line-5xl);
}

.t-6xl {
  font-size: var(--font-6xl);
  line-height: var(--line-6xl);
}

.t-7xl {
  font-size: var(--font-7xl);
  line-height: var(--line-7xl);
}

.t-8xl {
  font-size: var(--font-8xl);
  line-height: var(--line-8xl);
}

.t-9xl {
  font-size: var(--font-9xl);
  line-height: var(--line-9xl);
}

.bold {
  font-weight: var(--font-bold);
}

.italic {
  font-style: var(--font-italic);
}

/* Used for titles on work feed view */
.work-feed-heading {
  padding-top: var(--padding-md);
  padding-bottom: var(--padding-md);
  font-size: var(--font-2xl);
  padding-left: var(--margin-sm);
  font-family: var(--fancy-script);
  color: var(--stone-600);
}

.section-heading {
  font-size: var(--font-lg);
  font-family: var(--fancy-script);
  color: var(--stone-600);
  font-weight: 500;
}

.danger-zone-text {
  font-size: var(--font-xl);
  font-family: var(--fancy-script);
  color: var(--red-500);
  font-weight: 500;
}

.heading {
  font-size: var(--font-2xl);
  color: var(--stone-700);
  font-weight: 500;
}

.heading.light {
  font-size: var(--font-xl);
  color: var(--stone-500);
  font-weight: 300;
}

.subheading {
  color: var(--stone-600);
}
